*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main, .image-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container{
    height: 60vh;
}

.image-container img{
    height: 100%;
    object-fit: contain;
}

#breed{
    text-transform: uppercase;
}